:root{
    --accentColor:#EDEDED;
    --whiteColor:#FFFFFF;
    --textColor:#E3E3E3;
    --basicColor:#0C1218;
    --buttonColor:#BB9A61;
    --footerColor:#A08555;
    --linkColor:#DAB36F;
}

body{
    color: var(--basicColor);
    font-family: Inter, sans-serif;
    background-color: var(--basicColor);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    display:block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

a{
    text-decoration: none;
}

.box{
    max-width: 1286px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: auto;
    margin-left: auto;
}
/* HEADER START */


.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1488px;
    color: var(--textColor);
}

.header-list{
    display: flex;
    align-items: center;
}
.header-item:not(:last-child){
    margin-right: 15px;
}
.header-item.item:not(:last-child){
    margin-right: 40px;
}

.header-link{
    color: inherit;
}
.header-link.link{
    display: block;
    padding-bottom: 40px;
    padding-top: 40px;
}

.header-link.link:hover::after,
.header-link.link:focus:after{
border-bottom: 1px;
border: var(--linkColor);
}

.header-button{
    color: var(--whiteColor);
    display: flex;
height: 44px;
min-width: 108px;
justify-content: center;
align-items: center;
border: solid var(--buttonColor);
cursor: pointer;

    height: 44px;
    min-width: 108px;
    padding: 17px 18px 15px;
    border-radius: 6px;
background: var(--buttonColor);
}
.header-button:hover,
.header-button:focus{
background-color: var(--linkColor) ;
border: solid var(--linkColor);
}

.header-before::before{
    display: inline-block;
    content: '';
    background-image: url(../image/shopping-cart.svg);
    width: 60px;
    height: 44px;

    border-radius: 6px;
background: #EDEDED;
}
/* HEADER END */

/* HERO START */

.hero{
    height: 1150px;
    width: 100%;
    color: var(--whiteColor);
    background-image:  url(../image/Main.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.hero-title{
text-align: center;
font-size: 72px;
font-weight: 700;
line-height: calc(86 / 72); 

    margin-top: 0;
    margin-bottom: 21px;
}

.hero-text{
    text-align: center;
font-size: 30px;
font-weight: 700;
line-height: calc(35 / 30);
margin-bottom: 52px;
}

.hero-text.text{
font-size: 18px;
line-height: calc(34 / 18);
margin-bottom: 0;
}

/* HERO END */

/* LOOK START */
.look-box{
    padding-top: 115px;
    padding-bottom: 110px;
}

.look.container{
    margin-bottom: 32px
}

.look-container{
    display: flex;
    justify-content: space-between;
}

.look-title{
    color: var(--textColor);
font-weight: 700;
line-height:calc(36 / 30); 
}

.look-text{
    color: var(--textColor);
font-weight: 400;
line-height: calc(30 / 20);
}

.look-link{
    color: var(--whiteColor);
    font-weight: 700;
    line-height: calc(14 / 13); 
    text-transform: uppercase;

    display: inline-block;
    height: 44px;
    margin-top: 53px;
padding: 15px 40px 15px 40px;
flex-direction: column;
justify-content: center;
align-items: center;


border-radius: 6px;
background: var(--buttonColor);
}
.look-link:hover,
.look-link:focus{
    background-color: var(--linkColor);
}

.look-video{
    margin-right: 25px;
}
/* LOOK END */

/* CHOOSE START */

.choose-box{
    color: var(--textColor);
    padding-top: 115px;
    padding-bottom: 110px;
}

.choose-title{
text-align: center;
font-weight: 700;
line-height: calc(36 / 30);
}

.choose-list{
    display: flex;
    flex-wrap: wrap;
    background: url(../image/border-left-top.svg) 0 0 no-repeat, url(../image/border-raid-top.svg) 100% 0 no-repeat,
    url(../image/border-left-bottom.svg) 0 100% no-repeat, url(../image/border-ride-bottom.svg) 100% 100% no-repeat;
    padding: 40px 25px;
}

.choose-item{
    max-width: 400px;
}
/* CHOOSE END */

/* CHALLENGE START */
.challenge{
    background-color: var(--accentColor);
}

.challenge-box{
    display: flex;
    padding-top: 115px;
    padding-bottom: 110px;
}

.challenge-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.challenge-container:nth-child(1){
    margin-right: 265px;
}

.challenge-svg{
    margin-bottom: 52px;
}

.challenge-title{
font-size: 20px;
font-weight: 700;
line-height: calc(26 / 20); 

    margin-bottom: 27px;
}

.challenge-text{
    color: rgba(12, 18, 24, 1);
    text-align: center;
    font-weight: 400;
    line-height: calc(24 / 16); 
}
/* CHALLENGE END */


/* HOME START */
.home{
    color: var(--textColor);
}

.home-box{
    display: flex;
    padding-top: 115px;
    padding-bottom: 25px;
}

.home-container{
margin-right: 380px;
margin-bottom: 80px;
}

.home-title{
font-size: 30px;
font-weight: 700;
line-height: calc(36 / 30); 

    margin-bottom: 16px;
}

.home-text{
    font-size: 20px;
    font-weight: 400;
    line-height: calc(24 / 20); 
}

.home-link{

    color: var(--whiteColor);
text-align: center;
font-size: 13px;
font-weight: 700;
line-height: calc(14 / 13); 
text-transform: uppercase;

min-width: 200px;
height: 44px;
padding: 15px 27px;
border-radius: 6px;
background: #BB9A61;
}
/* HOME END */

/* QUESTION SRART */
.question{
height: 580px;
content: '';
width: 100%;
display: flex;
background-image: url(../image/Background-ask-us.png);
flex-direction: column;
justify-content: center;
align-items: center;
background-size: cover;
background-repeat: no-repeat;
background-position: top center;
}
/* .question::before{

} */
/* QUESTION END */

/* FOOTER START */

.footer{
    background-color: var(--footerColor);
    color: var(--textColor);
    padding-top: 55px;
}

.footer-box{
    display: flex;
    padding-bottom: 18px;
}

.footer-list{
    min-width: 200px;
    margin-right: 160px;
}


.footer-link{
    color: var(--whiteColor);
font-weight: 300;
line-height: calc(16 / 16); 
}
.footer-item:not(:last-child){
    margin-bottom: 9px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.footer-svg{
    width: 40px;
    padding: 14px;
}

.footer-copyright{
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 17px;


    color: var(--whiteColor);
text-align: center;
font-weight: 300;
line-height: calc(17 / 12); 
}
/* FOOTER END */