:root{
    --accentColor:#EDEDED;
    --whiteColor:#FFFFFF;
    --textColor:#E3E3E3;
    --basicColor:#0C1218;
    --buttonColor:#BB9A61;
    --footerColor:#A08555;
    --linkColor:#DAB36F;
}

body{
    color: var(--basicColor);
    font-family: Inter, sans-serif;
    background-color: var(--basicColor);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    display:block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

a{
    text-decoration: none;
}

.box{
    max-width: 1286px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: auto;
    margin-left: auto;
}
/* HEADER START */

.page-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--basicColor);
height: 93px;
z-index: 1;
}

.header-box{
    
    color: var(--textColor);

    display: flex;
    justify-content: center;
    align-items: center;

}

.header-logo{
    padding-top: 27px;
}

.header-nav{
    margin-right: 230px ;
    margin-left: 230px;
}

.header-list{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.header-item{
    position: relative;
}
.header-item:not(:last-child){
    margin-right: 15px;
}
.header-item.item:not(:last-child){
    margin-right: 40px;
}

.header-link{
    color: inherit;
}
.header-link.link{
    display: block;
    padding-bottom: 10px;
    padding-top: 20px;
}

.header-link.link:hover::after,
.header-link.link:focus::after{
    content: '';
    position: absolute;
display: block;
top: 100%;
left: 50%;
transform: translateX(-50%);
width: 100%;
height: 2px;
background-color: var(--linkColor);
transition: all 166ms;
}

.header-button{
    color: var(--whiteColor);
    display: flex;
height: 44px;
min-width: 108px;
justify-content: center;
align-items: center;
border: solid var(--buttonColor);
cursor: pointer;

    height: 44px;
    min-width: 108px;
    padding: 17px 18px 15px;
    border-radius: 6px;
background: var(--buttonColor);
}
.header-button:hover,
.header-button:focus{
background-color: var(--linkColor) ;
border: solid var(--linkColor);
}


.header-shop{
    display: flex;
   padding: 13px 20px 13px;

    border-radius: 6px;
background: #EDEDED;
}
.header-shop:hover,
.header-shop:focus{
    background-color: var(--textColor);
}


/* HEADER END */

/* HERO START */

.hero{
    color: var(--whiteColor);
    background-image:  url(../image/Main.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;

    
    height: 1080px;
    transition: all 0.3s ease; 
  }
  




.hero-title{
text-align: center;
font-size: 72px;
font-weight: 700;
line-height: calc(86 / 72); 

    margin-top: 0;
    margin-bottom: 21px;
}

.hero-text{
    text-align: center;
font-size: 30px;
font-weight: 700;
line-height: calc(35 / 30);
margin-bottom: 52px;
}

.hero-text.text{
font-size: 18px;
line-height: calc(34 / 18);
margin-bottom: 0;
}

/* HERO END */

/* MODAL START */

.backdrop{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;

    background: rgba(52, 54, 66, 0.9);
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.is-hidden{
    opacity: 1;
    pointer-events: all;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    background-color: var(--basicColor);
    width: 540px;
    height: 640px;
    cursor: auto;

}

/* MODAL END */


/* LOOK START */
.look-box{
    padding-top: 115px;
    padding-bottom: 110px;
}

.look.container{
    margin-bottom: 32px
}

.look-container{
    display: flex;
    justify-content: space-between;
}

.look-title{
    color: var(--textColor);
font-weight: 700;
line-height:calc(36 / 30); 
}

.look-text{
    color: var(--textColor);
font-weight: 400;
line-height: calc(30 / 20);
}

.look-link{
    color: var(--whiteColor);
    font-weight: 700;
    line-height: calc(14 / 13); 
    text-transform: uppercase;

    display: inline-block;
    height: 44px;
padding: 15px 40px 15px 40px;

border-radius: 6px;
background: var(--buttonColor);
}
.look-link:hover,
.look-link:focus{
    background-color: var(--linkColor);
}

.look-video{
    margin-right: 25px;
}
/* LOOK END */

/* CHOOSE START */
.choose{
    padding-top: 77px;
    padding-bottom: 70px;

}

.choose-box{
    color: var(--textColor);

}

.choose-title{
    display: flex;
    flex-direction: column;
    align-items: center;
font-weight: 700;
line-height: calc(36 / 30);
margin-bottom: 25px;
}

.choose-list{
display: flex;
flex-wrap: wrap;
    background: url(../image/border-left-top.svg) 0 0 no-repeat, url(../image/border-raid-top.svg) 100% 0 no-repeat,
    url(../image/border-left-bottom.svg) 0 100% no-repeat, url(../image/border-ride-bottom.svg) 100% 100% no-repeat;
    padding: 40px 25px;
}

.a{
    max-width: 482px;
    margin-right: 86px;
    margin-bottom: 40px;
}
.s{
    max-width: 482px;
 

  
}

.choose-subject{
    font-weight: 700;
    line-height: calc(24 / 20); 
    margin-bottom: 25px;
}

.choose-text{
    font-weight: 400;
    line-height: calc(32 / 16); /* 200% */
}
/* CHOOSE END */

/* CHALLENGE START */
.challenge{
    background-color: var(--accentColor);
}

.challenge-box{
    display: flex;
    padding-top: 115px;
    padding-bottom: 110px;
}

.challenge-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.challenge-container:nth-child(1){
    margin-right: 265px;
}

.challenge-svg{
    margin-bottom: 52px;
}

.challenge-title{
font-size: 20px;
font-weight: 700;
line-height: calc(26 / 20); 

    margin-bottom: 27px;
}

.challenge-text{
    color: rgba(12, 18, 24, 1);
    text-align: center;
    font-weight: 400;
    line-height: calc(24 / 16); 
}
/* CHALLENGE END */


/* HOME START */
.home{
    color: var(--textColor);
}

.home-box{
    display: flex;
    padding-top: 115px;
    padding-bottom: 25px;
}

.home-container{
margin-right: 380px;
margin-bottom: 80px;
}

.home-title{
font-size: 30px;
font-weight: 700;
line-height: calc(36 / 30); 

    margin-bottom: 16px;
}

.home-text{
    font-size: 20px;
    font-weight: 400;
    line-height: calc(24 / 20); 
}

.home-link{

    color: var(--whiteColor);
text-align: center;
font-size: 13px;
font-weight: 700;
line-height: calc(14 / 13); 
text-transform: uppercase;

min-width: 200px;
height: 44px;
padding: 15px 27px;
border-radius: 6px;
background: #BB9A61;
}
.home-link:hover,
.home-link:focus{
    background-color: var(--linkColor);
}
/* HOME END */

/* QUESTION SRART */
.question{
height: 645px;
content: '';
width: 100%;
display: flex;
background-image: url(../image/Background-ask-us.png);
flex-direction: column;
justify-content: center;
align-items: center;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
position: relative;
}

.question-backdrop{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

background: rgba(0, 0, 0, 0.74);
}

.question-modal{
    position: absolute;
height: 420px;
width: 440px;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

}

.question-title{
    color: var(--textColor);
text-align: center;
font-weight: 700;
line-height: calc(36 / 30); 
}
/* .question::before{

} */
/* QUESTION END */

/* FOOTER START */

.footer{
    background-color: var(--footerColor);
    color: var(--textColor);
    padding-top: 55px;
}

.footer-box{
    display: flex;
    padding-bottom: 51px;

    border: 2px;
    border-bottom: var(--whiteColor);
}

.footer-container-box{
    position: relative;
}
.footer-box::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--whiteColor);

}

.footer-list{
    min-width: 200px;
    margin-right: 160px;
}


.footer-link{
    color: var(--whiteColor);
font-weight: 300;
line-height: calc(16 / 16); 
}
.footer-link:hover,
.footer-link:focus{
    color: var(--textColor);
}
.footer-item:not(:last-child){
    margin-bottom: 9px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.footer-svg{
    width: 40px;
    padding: 14px;
    fill: var(--whiteColor);
}
.footer-svg:hover,
.footer-svg:focus{
 fill: var(--textColor);
}

.footer-copyright{
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 17px;


    color: var(--whiteColor);
text-align: center;
font-weight: 300;
line-height: calc(17 / 12); 
}
/* FOOTER END */